{% if section.settings.display %}
<section class=" {% if section.settings.container_type == 'padding-medium'%} padding-medium{% elsif section.settings.container_type == 'padding-large'%} padding-large {% else %} padding-small{% endif %}">
    <div class="container-medium">
      <div class="multiscroll__flex">
       <div class="slider slider-for">  
           {% assign number = 0 %} 
           {% for block in section.blocks %}  
           <div class="relative">
             <div class="multiscroll__content">
                <div class="slide__counter">
                  {% assign number = number | plus:1 %} 
                  <span>{{ number }}</span>             
                  <p class="image-text__number-line"></p> 
                </div> 
               <h3>{{ block.settings.title }}</h3>
               {{ block.settings.content }}
               {% if forloop.last %}
                   <div class="multiscroll-arrow">               
                   {% include 'arrow-up' %}  
                   <span>SCROLL UP</span>
                   </div> 
               {% else %}    
                  <div class="multiscroll-arrow">
                   <span>SCROLL DOWN</span>
                   {% include 'arrow-down' %}  
                 </div> 
               {% endif %}                     
             </div>
           </div>
           {% endfor %}
       </div>
         <div class="slider slider-nav" dir="rtl">
           {% for block in section.blocks %}
               <div class="bg" style="background-image: url('{{ block.settings.image | img_url:'master' }}');">
                   <div class="multiscroll__image">                 
                   </div> 
               </div>
           {% endfor %}
         </div>  
       </div>    
    </div> 
   </section>
   {% endif %}
   {% schema %}
     {
       "name": "Slider multiscroll",
       "settings": [ 
          {
              "type": "checkbox",
              "id": "display",
              "label": "Display section ?",
              "default": true
          }, 
          {
           "type":      "select",
           "id":        "container_type",
           "label":     "Container type",
            "options": [
                 {
                   "value": "padding-small",
                   "label": "padding-small"
                 },
                 {
                    "value": "padding-medium",
                    "label": "padding-medium"
                 }, 
                 {
                   "value": "padding-large",
                   "label": "padding-large"
                 } 
               ],
               "default":   "padding-small", 
               "info":      "Spacing for the section"
            } 
       ],
       "blocks": [
           {
               "type": "Slider",
               "name": "Slider",
               "settings": [
                    {
                        "type": "text",
                        "id": "title",
                        "label": "Title",
                        "default": "Title"
                    },
                    {
                        "type": "richtext",
                        "id": "content",
                        "label": "content",
                        "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>"               
                    },
                    {
                        "type": "image_picker",
                        "id": "image",
                        "label": "Image"
                    } 
               ]
           }  
       ]
     }
     {% endschema %}
     